# Created by .ignore support plugin (hsz.mobi)
/bgr_data
/label_csv
/label_img
/label_xml
/logs
/.idea
/model
/tfrecord
/inference_graph
/inference_graph_ssdlite
test.py
server_conf.conf
/__pycache__
/upload_to_server